
body {
  background-color: #efeff5;
  font-family: 'Raleway', sans-serif;
  color: #26222b;
  max-width: 1200px;
  margin: 0 auto;
}

.mobile-container {
  max-width: 480px;
  margin: auto;
  background-color: #555;
  height: 500px;
  color: white;
  border-radius: 10px;
}

.topnav {
  /* overflow: hidden; */
  background-color: #333;
  position: fixed;
  text-align: center;
  max-width: 1200px;
  width: 100%;
}

.topnav #myLinks {
  display: none;
  text-align: center;
}

.topnav a {
  padding: 12px;
}

#myLinks a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnav-header {
  display: flex;
}

.topnav a.icon {
  width: 150px;
  cursor: pointer;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  background-color: #333;
  color: white;
  width: 100%;
}

.logo {
  height: 20px;
  margin: 0 auto;
  padding: 0px;
  display: flex;
}

.contact-button:hover {
  background-color: #9d2dff4b;
  color: #e8e8ff;
}

.contact-button {
  background: #9c2dff;
  font-size: 9pt;
  font-weight: 600;
  width: 150px;
  display: flex;
  align-items: center;
}

.contact-button > div {
  width: 100%;
}

#contact-form {
  text-align: center;
  display: block;
  font-weight: bold;
  padding-top: 50px;

}

.inputs input,textarea {
  margin-top: 10px;
}

img {
  max-width: 400px;
}

.icon {
  width: 20px;
  padding-top: 10px;
}

ul {
  list-style-type: none;
  display: flex;
}

a:hover {
  color: #9c2dff;
}

a {
  color: #e8e8ff;
  text-decoration: none;
}

.transparent-layer {
  padding: 15px;
  background: rgba(241, 221, 255, 0.767) ;
}

.basic-info {
  background-image: url("../img/branday-puzzle.png");
  background-size: cover;
  color: #10061b;
  padding-top: 50px;
  text-align: center;
}

.basic-info h1 {
  font-weight: bold;
}

.brnd-adt:hover {
  background-color: #9d2dff4b;
  color: #e8e8ff;
}

.brnd-adt {
  background-color: #9c2dff;
  border-radius: 3px;
  border-color: #9d2dff96;
  color: #e8e8ff;
  cursor: pointer;
}

.puzzle-img {
  opacity: 60%;
}

#What-we-do {
  background-color: #efeff5;
  padding: 16px;
  text-align: center;
  padding-top: 50px;
}

#What-we-do h3 {
  border-bottom: 3px solid #9c2dff;
  padding-bottom: 20px;
}

.numbered-box {
  background-color: #e8e8ff;
  width: 70%;
  margin: 15px auto;
  padding: 15px;
}

.nmbr {
  color: #9c2dff;
  font-weight: bold;
}

/* hr.rounded {
  border: 3px solid #9c2dff;
  border-radius: 5px;
  width: 150px;
} */

#Why-it-works {
  padding: 16px;
  text-align: center;
  padding-top: 50px;
}

#Why-it-works h2 {
  margin-bottom: 40px;

}

#Why-it-works h3 {
  color: #9c2dff;
  font-weight: bold;
}

#Why-it-works p {
  margin: auto;
  width: 50%;
  padding-bottom: 20px;
  border-bottom: 1px solid #9d2dff9d;

}

.divider{
  border-top: 2px solid #9d2dff85;
  border-radius: 2px;
  width: 100%;
  margin: 0;
}
#Portfolio {
  background-color: #e8e8ff;
  padding: 10px;
  text-align: center;
  padding-top: 50px;
}

#Portfolio h2 {
  color: #6726ac;
  font-weight: bold;
}

.hvrd-txt {
  color: #9c2dff;
  font-weight: bold;
  font-size: 28pt;
}

.hvrd-txt:hover {
  color: #6726ac;
  font-weight: bold;
}

#FAQ {
  text-align: center;
  padding: 16px;
  padding-top: 50px;
}

#FAQ h2{
  color:  #9c2dff; 
}
.dropdown-questions {
  border: 1px solid #9c2dff;
  margin-bottom: 10px;
}

.call-to-action {
  padding: 16px;
  border-top: 1px solid #9c2dff75;
  text-align: center;
  padding-top: 50px;
}

.get-a-quote:hover {
  background-color: #9d2dff4b;
  color: #e8e8ff;
}

.get-a-quote {
  background-color: #9c2dff;
  color: #e8e8ff;
  cursor: pointer;
  padding: 10px;
  width: 150px;
}

footer {
  background-color: #26222b;
}

.footer-moto {
  color: #9d2dff;
}

small {
  color: #e8e8ff79;
}

.links-to-menu {
  display: block;
}

ul {
  justify-content: space-evenly;
  padding: 0;
}

#fs-frm {
  /* width: 60%; */
  margin: 0 auto;
  padding: 16px;
}

#fs-frm-inputs {
  border: 1px solid #9c2dff75;
  /* display: flex; */
  padding: 20px;
}

#fs-frm-inputs > input {
  padding: 15px;
  width: 150px;
  background-color: #9c2dff;
  border: 0;
  color: #e8e8ff;
  margin: auto;
}

footer {
  display: flex;
}

.footer-info {
  padding: 20px;
  text-align: center;
  margin: 0 auto;
}

.portfolio-box {
  padding: 15px;
  width: 100%;
}

.why-box {
  width: 100%;
}

/* When the browser is at least 600px and above */
@media screen and (min-width: 600px) {
  .boxes {
    display: flex;
  }
  #fs-frm-inputs {
    display: flex;
  }
  

  .numbered-box {
    margin: 10px;
  }

}